<div class="container__footer">
    <div class="content__footer">
        <div class="footer__jllc">
            <div class="footer__jllc-item">
                <img src="../assest/images/logo-jllc.png" alt="Logo de la Empresa">
                <h2>JLLC</h2>
            </div>
            
        </div>
        <div class="legal">
            <h4>Legales</h4>
            <p>PolÍtica de privacidad</p>
            <p>Términos y condiciones</p>
            <p>PolÍtica de Cookies</p>
            <p>PolÍtica de terminos y condiciones  de contratación</p>
        </div>
        <div class="contact">
            <h4>Contacto</h4>
            <div class="contact__item">
                <i class="fa-brands fa-whatsapp"></i>
                <p>+52 998 486 XXXX</p>

            </div>
            <div class="contact__item">
                <i class="fa-solid fa-envelope"></i>
                <p>info@jllc.com</p>
                
            </div>
            <div class="contact__item">
                <i class="fa-solid fa-location-dot"></i>
                <p>Cancún Quintana Roo, México</p>
                
            </div>

        </div>
        <div class="social__networks">
            <h4>Redes Sociales</h4>
            <div class="social__networks-item">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </div>
    <div class="final__foot">
        <div>
            <h5>JLLC NOTICIAS & Ultimas noticias</h5>
            <small>JLLC © 2023. Todos los derechos reservados.</small>
        </div>
    </div>
</div>