<div class="container__hero">
    <nav class="nav__heo">
        <div class="container__logo">
            <h2 class="hero__title"><a href="../index.html">Noticias</a></h2>
        </div>
        <ul class="nav__items">
            <li class="nav__item"><a class="nav__link" href="../page/tecnologia.html">Tecnologia</a></li>
            <li class="nav__item"><a class="nav__link" href="../page/criptomonedas.html">Criptomonedas</a></li>
            <li class="nav__item"><a class="nav__link" href="../page/gaming.html">Gamming</a></li>
            <li class="nav__item"><a class="nav__link" href="../page/deportes.html">Deportes</a></li>
        </ul>
        <div class="toggle">
            <button class="toggle__botton"  id="toggle">
                <span class="l1 span"></span>
                <span class="l2 span"></span>
                <span class="l3 span"></span>
            </button>
        </div>
    </nav>
</div>