:root {
    --color-green: #078C5B;
    --color-green-opacity: #078c5bb1;
    --color-black: #000000;
    --color-white: #fff;

}

* {
    margin: 0;
    padding: 0;
}




html {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
  
}

body {
    background-color: #F3F3F5;
    color: rgb(243, 244, 246);
    max-width: 1500px;
    margin: 0 auto;
    overflow-x: hidden;

}


a {
    color: var(--color-white);
    transition: all 0.5s ease-out;
}

a:hover {
    opacity: 0.75;
  }

  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  h3 {
    margin: 0;
    font-size: 1.25rem;
  }
  
  h4 {
    margin: 0;
    font-size: 1rem;
  }
  
  h5 {
    margin: 0;
    font-size: 0.85rem;
  }
  
  h6 {
    margin: 0;
    font-size: 0.7rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    line-height: 1.6;
  }

  button {
    font-family: 'Poppins', sans-serif;
  }


.hero__title a {
    text-decoration: none;
    color: var(--color-gold);
}

.container__hero {
    background-color: #151515;
    border-bottom: 3px solid var(--color-green);
}

.nav__heo {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    color: var(--color-green);
}

.nav__items {
    display: flex;
    width: 700px;
    justify-content: space-between;
    list-style: none;
    
}

.nav__link {
    text-decoration: none;
    color: var(--color-green);
}
.main {
    width: 90%;
    margin: 0 auto;
}

.ads__uno {
    width: 100%;
    height: 100px;
}

.main__container {
    display: flex;
    color: var(--color-black);
}

.content {
    width: 85%;
    box-shadow: 0px 0px 100px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 30px;
}

.ads__dos {
    width: 15%;
}

.main__content {
  padding: 20px;
}

.main__content h2 {
  margin-bottom: 20px;
}

.conatiner__main-content {
  display: flex;
}
.img__main-content {
  width: 60%;
  margin: 0 auto;
}

.img__main-content img {
  width: 100%;
}

.conatiner__main-content-right {
  width: 40%;
  padding-left: 20px;
  text-align: justify;
}



/*===============================================Tecnologia================================*/

.nav__tecnologia {
    display: flex;
    width: 50%;
    padding: 10px;
    justify-content: space-between;
}

.nav__tecnologia button {
    font-size: 1rem;
    cursor: pointer;
    padding: 7px 15px;
    background-color: #ffb340;
    color: #151515;
    border: none;
    border-radius: 5px;

}

.tecnologia {
    display: none;
}

#ultima-hora {
    display: block; /* Mostrar "Ultima Hora" por defecto */
}



/*===============================================Criptomonedas================================*/

/*===============================================Gamming================================*/

/*===============================================Deportes================================*/

.nav__hero {
    display: flex;
    width: 50%;
    padding: 10px;
    justify-content: space-between;
}

.nav__hero button {
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--color-green-opacity);
    color: #151515;
    border: none;
    border-radius: 5px;
    transition: 500ms;

}

.nav__hero button:hover {
    transform: scale(1.095)
}

.nav__hero button:active {
    transform: scale(.95);
}


.deportes {
    padding: 20px;
    display: none;
}

/*==================Ultima Hora=============*/

.deportes__ultima-hora {
  color: var(--color-black);
}

#ultima-hora {
    display: block; /* Mostrar "Ultima Hora" por defecto */
}

/*==================Futbol=============*/
.deportes__futbol {
  color: var(--color-black);
}



/*==================basketball============*/
.deportes__basketball {
  color: var(--color-black);
}



/*==================beisbol=============*/
.deportes__beisbol {
  color: var(--color-black);
}


/*==================Satart of Footer=============*/

.footer {
    background-color: var(--color-black);
  }
  
  .container__footer {
    width: 90%;
    margin: 0 auto;
    padding: 80px 0 20px 0;
  }
  .content__footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    grid-template-rows: 250px;
  }
  .footer__jllc {
    display: grid;
    place-items: center;
  }
  
  .footer__jllc-item {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    
  }
  .legal h4 {
    margin-bottom: 15px;
  }

  .legal p {
    margin: 10px 0;
  }
  
  .contact h4  {
    margin-bottom: 15px;
  }

  .contact p {
    margin: 10px 0;
  }

  .contact__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    
  }
  .contact__item i {
    font-size: 1.5rem;
  }
  
  .contact__item:hover i {
    color: var(--color-lime-green);
    transform: scale(1.1);
    transition: 800ms;
    color: #d2fc51;
  }
  
  .contact__item p {
    margin-left: 20px;
    
    
  }
  
  .social__networks {
    
  }
  
  
  
  .social__networks-item {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .fa-brands {
    font-size: 2rem;
  }
  
  .fa-brands:hover {
    color: #d2fc51;
    transform: scale(1.1);
    transition: 800ms;
  }
  
  .final__foot {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px 20px;
    letter-spacing: 1px;
  }
  /*================Nav Modal=====================*/
  
  .toggle {
      display: none;
      justify-content: center;
      align-items: center;      /* centra los elementos */
      width: 40px;
      height: 40px;
  }
  
  .toggle__botton {
      width: 40px;
      height: 40px;
      transform: scale(.8);
      position: relative;
      cursor: pointer;
      border: none;
      background: transparent;
      
      
  }
  
  .span {
      background: var(--color-green);
      width: 100%;
      height: 3px;
      border-radius: 5px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.4s, width 0.3s ;
  }
  
  .l1{
      transform: translate(-50%, -15px);
  }
  
  .l3{
      transform: translate(-50%, 10px);
  }
  
  /* PARTE DE JAVASCRIPT */
  .activo .l1{
      transform: translate(-50%, -50%)rotate(45deg);
  }
  .activo .l3{
      transform: translate(-50%, -50%)rotate(-45deg);
  }
  
  .activo .l2{
      width: 0;
  }
  


@media screen and (max-width: 768px) {



  /*===============================================Header================================*/
    .toggle {
        display: flex;
        z-index: 10;
    }

    .nav__items {
      display: none;
      background-color: var(--color-white);
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 300px;
      justify-content: space-between;
      list-style: none;
      padding-top: 50px;
      transition: 300ms; /* Aplica una transición suave a la transformación */
  }
  

  .ads__dos {
    display: none;
}


.content {
  width: 100%;
}

  .nav__link {
    color: var(--color-black);
  }

  
  .nav__item {
    margin: 50px 0 50px 30px;
  }


/*===============================================Deportes================================*/
.container__nav-deportes {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* Habilita el desplazamiento con el dedo en dispositivos iOS */

}

.nav__hero {
  display: flex;
  width: 110%;
  padding: 10px;
  justify-content: space-between;

}

/* Oculta las barras de desplazamiento en navegadores de escritorio */
.container__nav-deportes::-webkit-scrollbar {
  display: none;
}



  /*===============================================Footer================================*/

  .final__foot {
    margin-top: 20px;
  }

}

@media screen and (max-width: 600px) {

.nav__hero {
  display: flex;
  width: 140%;
  padding: 10px;
  justify-content: space-between;
}

    
}


@media screen and (max-width: 500px) {
  .nav__hero {
    display: flex;
    width: 150%;
    padding: 10px;
    justify-content: space-between;
  }
}


@media screen and (max-width: 400px) {
  .nav__hero {
    display: flex;
    width: 180%;
    padding: 10px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 350px) {
  .nav__hero {
    display: flex;
    width: 190%;
    padding: 10px;
    justify-content: space-between;
  }
}